.name{
    color: orange;
}
.half{
   
    margin-left: 5%;
    padding-left: 2px;
  
    width: 30%;
    float: left;
}
.half img{
    width: 100%;
} 
.top{
   background-image: url("pictures/top-banner.png");

}